<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="todo.js"></script>
</head>
<body>
    <div ng-controller="TodoController">
        New Todo:<input type="text" ng-model="newTodo"/> <input type="button" ng-click="addTodo(newTodo)" value="Add" />
        <h4>Todo:</h4>
        <ol>
            <li ng-repeat="todo in todos">{{todo.text}}<span> </span><input type="button" ng-click="removeTodoAtIndex($index)" value="Remove"/> </li>
        </ol>
    </div>
</body>
</html>